# lab_simulation : Into the Matrix

As you learned in lecture, **simulation** is an extremely powerful tool to estimate the probability of an event occurring by simulating many observations an event and determining the successful observations.

This lab will have you build increasingly interesting simulations and find the results.

## Simulation 0: Your Groups! 
Edit the next Python cell to add information about who you're working within your lab section:

In [ ]:
# First, meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = "Anku"
ca1_name = "Dean"
ca2_name = "Jasmine"


# Also, make sure to meet your team for this lab! Find out their name, what major they're in,
# and learn something new about them that you never knew before!
partner1_name = "Bakhtiar"
partner1_major = "ECON"
partner1_qotd_answer = "fire"

partner2_name = "Gracynn"
partner2_major = "Math"
partner2_qotd_answer = "water"

partner3_name = "Ishaan"
partner3_major = "CHEM E"
partner3_qotd_answer = "WIND"

partner4_name = "Cameron"
partner4_major = "Econometrics"
partner4_qotd_answer = "Water"

## Simulation 1: Pre-Quiz Dice Rolls

The pre-quiz question that was asked by Karle and Wade in lecture was as follows:

> You roll two different fair six-sided dice at the same time.  One die is colored blue, one is colored red.  What is the probability that the blue die lands on 4 or the red die lands on 2?

Simulate the above problem 1,000 times and storing your observations of the value of the red die and blue die into `df1`.

In [3]:
# Step 0: Import any libraries you need:
import pandas as pd
import random

In [11]:

# Step 1: Always start with an empty list to store our simulation data:
data = []

# Step 2: Write the simulation inside of a for-loop
for i in range(1000):
    blue = random.randint(1,6)
    red = random.randint(1,6)
    d = { "blue": blue, "red": red}
    data.append(d)
    
# Step 3: Store the simulation data into a DataFrame
df1 = pd.DataFrame(data)



# ...and show a few random rows:
df1.sample(5)

     blue  red
241     4    4
142     1    4
586     5    2
277     2    3
624     3    6

### Puzzle 1.1: Probability Calculations

Find our estimation of the probability that the blue die lands on 4 or the red die lands on 2?

- To do this, create a `df1_success` DataFrame with only the rows that were successful.
- Use `df1` and `df1_success` to find the probability of success using your simulation and store that value in `P_puzzle1` below.

In [6]:
# Create a DataFrame that contains only the subset of observations that were successful:
df1_success = df1[ (df1["blue"] == 4) | (df1["red"] == 2)]


# ...and show a few random rows:
df1_success.sample(5)

     blue  red
317     2    2
142     2    2
450     2    2
860     2    2
688     2    2

In [39]:
# Find the value of P_puzzle1, the probability of success:
P_puzzle1 = len(df1_success) / len(df1)
P_puzzle1

0.324

### Puzzle 1.2: Finding the Exact Answer

This simulation simulated a pretty easy example that you can find an exact answer to!  Using the probability learned from lecture, calculate `P_puzzle1_exact`, the **exact** probability of the blue die landing on a 4 **or** the red die landing on a 2. 

- No python code is **required** for this question, we just need you to store the answer in `P_puzzle1_exact`.

In [41]:
P_puzzle1_exact = (1/6) + (1/6) - (1/36)
P_puzzle1_exact

0.3055555555555555

### Puzzle 1.3: Finding the Error

The **error** in a simulation is the difference between the exact value and value found from the simulation.  Subtract the estimated value (`P_puzzle1`) from the exact value (`P_puzzle1_exact`) to find the total error and store it in `puzzle1_error`.

In [43]:
puzzle1_error = P_puzzle1 - P_puzzle1_exact
puzzle1_error

0.018444444444444485

In [44]:
## == TEST CASES for Simulation 1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df1) == 1000), "Make sure your df1 has exactly 1,000 observations"
assert(len(df1_success) < 1000), "Make sure your df1_success only has successes"
assert(P_puzzle1 > 0 and P_puzzle1 < 1), "Make sure your P_puzzle1 is a probability of success"
assert(round(P_puzzle1_exact, 3) == 0.306), "Make sure your P_puzzle1_exact contains the exact probability of success"
assert(puzzle1_error < 1), "Make sure to calculate the error by subtraction"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()
print(f"Simulated Probability: P(blue == 4 | red == 2) = {round(100 * P_puzzle1, 2)}%")
print(f"    Exact Probability:                         = {round(100 * P_puzzle1_exact, 2)}%")

ðŸŽ‰ All tests passed! ðŸŽ‰

Simulated Probability: P(blue == 4 | red == 2) = 32.4%
    Exact Probability:                         = 30.56%

## Simulation 2: Rolling Three Die

Let's add another die into the mix.  Suppose we roll three dice: a **white**, a **red**, and a **blue** die.

Write a 1,000-run simulation of that event and store the observations in `df2`:

In [46]:
# Step 1: Always start with an empty list to store our simulation data:
data = []

# Step 2: Write the simulation inside of a for-loop
for i in range(1000):
    blue= random.randint(1,6)
    red = random.randint(1,6)
    white = random.randint(1,6)
    d = { "blue": blue, "red": red, "white": white}
    data.append(d)
    
# Step 3: Store the simulation data into a DataFrame
df2 = pd.DataFrame(data)



# ...and show a few random rows:
df2.sample(5)

     blue  red  white
806     3    4      3
100     4    1      3
610     3    1      6
762     5    1      5
130     2    6      6

### Puzzle 2.1: Probability Calculations

Find our estimation of the probability that the **sum of all three die** is equal to exactly 9.

- To do this, create a `df2_success` DataFrame with only the rows that were successful.
- Store our estimation of the probability of success in `P_puzzle2` below.

In [49]:
# Create a DataFrame that contains only the subset of observations that were successful:
df2_success = df2[ (df2["red"]) + (df2["white"]) + (df2["blue"]) == 9]



# ...and show a few random rows:
df2_success.sample(5)

     blue  red  white
494     2    3      4
654     2    2      5
765     3    3      3
545     3    1      5
343     2    4      3

In [50]:
# Find the value of P_puzzle2, the probability of success:
P_puzzle2 = len(df2_success) / len(df2)
P_puzzle2

0.1

In [51]:
## == TEST CASES for Simulation 2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df2) == 1000), "Make sure your df2 has exactly 1,000 observations"
assert(len(df2_success) < 1000), "Make sure your df2_success only has successes"
assert(P_puzzle2 > 0 and P_puzzle2 < 1), "Make sure your P_puzzle2 is a probability of success"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

## Simulation 3: Fliping Four Coins

Supoose we flip **four coins**, one coin at a time, one after another.  Each coin has two sides, "Heads" and "Tails".

Write a simulation of that event and store the observations in `df3` and run the simulation **50,000** times:

In [70]:
# Refer to the previous simulations if needed, but write the code yourself (don't just copy/paste and edit it)!
data = []
for i in range (50000):
    coin1 = random.randint(1,2)
    coin2 = random.randint(1,2)
    coin3 = random.randint(1,2)
    coin4 = random.randint(1,2)
    df3 = {"flip1": coin1, "flip2": coin2, "flip3": coin3, "flip4":coin4}
    data.append(df3)



df3 = pd.DataFrame(data)



# ...and show a few random rows:
df3.sample(5)

       flip1  flip2  flip3  flip4
11239      1      2      1      1
42692      2      1      1      1
38821      2      2      2      2
46208      2      2      1      1
44548      1      1      1      2

### Puzzle 3.1: Probability Calculations

Find our estimation of the probability that your first two coin flips were both heads and your last two coin flips were both tails?

- To do this, create a `df3_success` DataFrame with only the rows that were successful.
- Store our estimation of the probability of success in `P_puzzle3` below.

In [71]:
# Create a DataFrame that contains only the subset of observations that were successful:
df3_success = df3[ (df3["flip1"] == 1) & (df3["flip2"] == 1) & (df3["flip3"] == 2) & (df3["flip4"] == 2)]



# ...and show a few random rows:
df3_success.sample(5)

       flip1  flip2  flip3  flip4
37340      1      1      2      2
48996      1      1      2      2
16986      1      1      2      2
12415      1      1      2      2
40233      1      1      2      2

In [72]:
# Find the value of P_puzzle3, the probability of success:
P_puzzle3 = len(df3_success) / len(df3)
P_puzzle3

0.06116

In [73]:
## == TEST CASES for Simulation 3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df3) == 50000), "Make sure your df3 has exactly 50,000 observations"
assert(len(df3_success) < 10000), "Make sure your df3_success only has successes"
assert(P_puzzle3 > 0.03 and P_puzzle3 < 0.125), "Make sure your P_puzzle3 is a probability of success"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

## Simulation 4: A short exam

Suppose you take a short exam with **four quesitons**:

- Two multiple choice questions with five possible responses, AND
- Two true/false questions

Write a simulation of that randomly guess on each question and store the observations in `df4`.  Run the simulation **107,000** times:

In [78]:
data = []
for i in range (107000) :
    tf1 = random.randint(1,2)
    tf2 = random.randint(1,2)
    mc1 = random.randint(1,5)
    mc2 = random.randint(1,5)
    d = {"MC1": mc1, "MC2": mc2, "TF1":tf1, "TF2":tf2}
    data.append(d)





df4 = pd.DataFrame(data)


# ...and show a few random rows:
df4.sample(5)

       MC1  MC2  TF1  TF2
1115     4    5    2    2
62487    2    4    1    1
7301     2    2    2    1
95920    2    4    2    1
19856    1    5    2    1

### Puzzle 4.1: Probability Calculations

Suppose you have a solution for the exam (the solution itself can be anything, you just need to make sure each question only has one correct answer).  Find an estimation of the probability that a student, who randomly guesses on each question, **earned a 100%** on the exam.

- To do this, create a `df4_success` DataFrame with only the rows that were successful.
- Store our estimation of the probability of success in `P_puzzle4` below.

In [81]:
# Create a DataFrame that contains only the subset of observations that were successful:
df4_success =df4[ (df4["MC1"] == 1) & (df4["MC2"] == 1) & (df4["TF1"] == 1) & (df4["TF2"] == 1)]



# ...and show a few random rows:
df4_success.sample(5)

        MC1  MC2  TF1  TF2
72850     1    1    1    1
104686    1    1    1    1
31197     1    1    1    1
40793     1    1    1    1
7580      1    1    1    1

In [82]:
# Find the value of P_puzzle4, the probability of success:
P_puzzle4 = len(df4_success)/len(df4)
P_puzzle4

0.01014018691588785

### Puzzle 4.2: Probability Calculations

Suppose you have a solution for the exam (the solution itself can be anything, you just need to make sure each question only has one correct answer).  Find an estimation of the probability that a student, who randomly guesses on each question, **earned a passing grade** on the exam.  *(Each question is worth the same amount, so a passing grade means you got at least 3 of the four quesitons correct.)* Hint: How many ways are there to get a **passing grade** on the exam?

- To do this, create a `df4_passing` DataFrame with only the rows that were successful.
- Store our estimation of the probability of success in `P_puzzle4_passing` below.

In [91]:
# Create a DataFrame that contains only the subset of observations that were successful:
df4_passing = df4[ ((df4["MC1"] == 1) & (df4["MC2"] == 1) & (df4["TF1"] == 1)) | ((df4["MC1"] == 1) & (df4["TF1"] == 1) & (df4["TF2"] == 1))]




# ...and show a few random rows:
df4_passing.sample(20)

       MC1  MC2  TF1  TF2
93881    1    1    1    1
97229    1    2    1    1
29522    1    5    1    1
95360    1    2    1    1
28310    1    1    1    2
66414    1    3    1    1
91485    1    5    1    1
32038    1    3    1    1
7898     1    3    1    1
64585    1    1    1    1
57346    1    2    1    1
12684    1    5    1    1
79207    1    3    1    1
61944    1    5    1    1
90327    1    2    1    1
80691    1    4    1    1
97549    1    5    1    1
52935    1    5    1    1
51006    1    3    1    1
4288     1    1    1    1

In [96]:
# Find the value of P_puzzle4_passing, the probability of success:
P_puzzle4_passing = len(df4_passing) / len(df4)
P_puzzle4_passing

0.05991588785046729

In [97]:
## == TEST CASES for Simulation 4 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df4) == 107000), "Make sure your df4 has exactly 107,000 observations"
assert(len(df4_success) < (107000 * 0.05)), "Make sure your df4_success only has students scoring 100%"
assert(len(df4_passing) < (107000 * 0.2)), "Make sure your df4_passing has all students passing"

assert(P_puzzle4 > 0 and P_puzzle4 < 0.05), "Make sure your P_puzzle4 is a probability of earning a 100%"
assert(P_puzzle4_passing > 0.05 and P_puzzle4_passing < 0.2), "Make sure your P_puzzle4_passing is a probability of earning a passing grade"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

## Simulation 5: Marbles in a Bag

Suppose you have a bag of 12 marbles.  The bag contains:

- Three red marbles,
- Four blue marbles, and
- Five clear marbles

Write a simulation of that randomly draws a total of two marbles from the bag **with replacement** after drawing each one.  Run the simulation **50,000** times and store your observations in `df5`:

In [100]:
# Suggestion! You can use 1-3: red, 4-7: blue, 8-12: clear
data = []
for i in range (50000) :
    red = random.randint(1,3)
    blue = random.randint(1,4)
    clear = random.randint(1,5)

    d = {"red": red, "blue": blue, "clear":clear}
    data.append(d)


df5 = pd.DataFrame(data)



# ...and show a few random rows:
df5.sample(5)

       red  blue  clear
46288    1     2      1
47024    1     1      1
8696     3     2      2
46566    3     3      2
14581    1     3      3

### Puzzle 5.1: Probability Calculations

Find an estimation of the probability that you draw exactly one red marble and exactly one blue marble.

- To do this, create a `df5_success` DataFrame with only the rows that were successful.
- Store our estimation of the probability of success in `P_puzzle5` below.

In [102]:
# Create a DataFrame that contains only the subset of observations that were successful:
df5_success = df5[(df5["red"] == 1) & (df5["blue"] == 1)]



# ...and show a few random rows:
df5_success.sample(10)

       red  blue  clear
33068    1     1      2
24643    1     1      1
13818    1     1      5
41881    1     1      1
5798     1     1      5
12452    1     1      4
30511    1     1      5
48300    1     1      5
38772    1     1      3
38110    1     1      5

In [103]:
# Find the value of P_puzzle5, the probability of success:
P_puzzle5 = len(df5_success) / len(df5)
P_puzzle5

0.08422

In [104]:
## == TEST CASES for Simulation 5 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df5) == 50000), "Make sure your df5 has exactly 50,000 observations"
assert(len(df5_success) < (107000 * 0.2)), "Make sure your df5_success only has students scoring 100%"

assert(P_puzzle5 > 0.02 and P_puzzle5 < 0.2), "Make sure your P_puzzle5 is a probability of earning a 100%"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

## Submit Your Work!

Make sure to **Save and Checkpoint** your notebook, exit Jupyter, and submit your work! :)